<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/js/main.js"></script>
</head>

<body>
  <h1>회원 목록</h1>
  <h2>총 회원수 : <%= userCounts %></h2>
  <ul>
    <% if(userCounts>0) { %>
    <% for(let i=0; i<userCounts; i++) { %>
    <li>
      <p>ID : <%= USER_ARR[i].id %></p>
      <p>이름 : <%= USER_ARR[i].name %></p>
      <p>email: <%= USER_ARR[i].email %></p>
    </li>
    <% } %>
    <% } else { %>
    <li>회원정보가 없습니다.</li>
    <% } %>
  </ul>
  <img src="/images/puppy.jpeg" alt="강아지">
</body>

</html>